@using Networking_Website.Models
@model IEnumerable<FlightTypes>
@{
    ViewData["Title"] = "Index";
}

<br /><br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Flight Type List</h2>
    </div>
    <div class="col-6 text-lg-end">
        <a asp-action="Create" class="btn btn-info">&nbsp; New Flight Type</a>
    </div>
</div>
<h1>Index</h1>