@using Networking_Website.Models
@model IEnumerable<FlightTypes>
@{
    ViewData["Title"] = "Index";
}

<br /><br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Flight Type List</h2>
    </div>
    <div class="col-6 text-lg-end">
        <a asp-action="Create" class="btn btn-info"><i class="fa-solid fa-plus"></i>&nbsp; New Flight Type</a>
    </div>
</div>
<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(c=>c.FlightType)
            </th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FlightType</td>
                <td>
                    <partial name ="_ButtonPartial" model="@item.Id"/>
                </td>
            </tr>
        }
    </table>
</div>